<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue/dist/vue.js">
    </script>
    <style>
        #Tac {
            background-color:red;
            border:double blue 10px;
            padding:10px;
            margin:15px;
            position:fixed;
            line-height:15px;
        }

        #ccc {
            line-height:30px;
            font-weight:bold;

        }


    </style>
</head>
<body>
<div id="Stan">


    <p>titlu</p>
    <ul>
        <li v-for="citat in citate"> {{citat.citat}}</li>
    </ul>
    <div>
        <div v-for="citat in citate">
            <h1>{{citat.autor}}</h1>
            <h2> {{citat.citat}}</h2>
            {{ citat.data }}
         </div>
    </div>
    <span v-for="n in 10">{{n}}</span>
    <p v-for="coaie in coaie" id="Tac">Mariuca si-a pierdut {{coaie.coaie}} </p>



<p id="ccc">a <br>
a <br>
a <br>
a <br>
a <br> a <br> a <br> a <br> a <br> a <br> a <br> a <br> a <br> a <br> a <br> a <br> a <br> a <br> a <br> a <br> a <br></p>


</div>
<script>


new Vue ({
    el: '#Stan',
    data: function() {
        return {
            show:false,
            ingerdients:['meat', 'fruit', 'cookies'],
            citate: [
                { autor: "ene", citat:"Te f de te c pe tn", data:"demult"},
                { autor:"chao", citat:"Lua-mi-ai mielul la tranta"}
            ],
            coaie: [
                {coaie: "coaiele"}
            ]
        }
    }
})
</script>
</body>
</html>
